/* General Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

section {
    padding: 100px 0;
    text-align: center;
    min-height: 100vh;
}

h1, h2 {
    color: #2a6e44; /* Green Shade */
}

p {
    font-size: 1.2rem;
    margin: 10px 0;
}

a {
    color: #fff;
    text-decoration: none;
    background-color: #2a6e44;
    padding: 10px 20px;
    margin: 10px;
    border-radius: 5px;
}

/* Home Section */
#home {
    background-color: #2a6e44;
    color: #fff;
}

#home h1 {
    font-size: 3rem;
}

#home p {
    font-size: 1.5rem;
    margin-top: 20px;
}

#home .social-links {
    margin-top: 30px;
}

#home .social-links a {
    margin: 10px;
}

/* About Section */
#about {
    background-color: #e9f5e1; /* Light Green */
}

#about h2 {
    font-size: 2.5rem;
    margin-bottom: 20px;
}

/* Projects Section */
#projects {
    background-color: #b4db9a; /* Medium Green */
}

#projects h2 {
    font-size: 2.5rem;
    margin-bottom: 20px;
}

#projects ul {
    list-style-type: none;
    padding: 0;
}

#projects li {
    font-size: 1.3rem;
    margin: 10px 0;
}

/* Contact Section */
#contact {
    background-color: #2a6e44;
    color: #fff;
}

#contact h2 {
    font-size: 2.5rem;
    margin-bottom: 20px;
}

#contact a {
    margin: 10px;
}

/* Smooth Scroll */
html {
    scroll-behavior: smooth;
}
